<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ titre }}</title>
        <script type="text/javascript" src="{{url_for('static', filename='d3/d3.v3.js')}}"></script>
        <link href="{{ url_for('static', filename='css/surfcheck.css') }}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">
            <div class="page-header">
                <h1>Surfcheck!</h1>
                <small><span id="check-location">Saint-Jean-de-Luz (64)</span>, <time id="check-datetime"></time></small>
            </div>

                <div id="wave-height" class="row">
                    <div class="col-md-8">
                        <svg viewBox="0 0 700 200" preserveAspectRatio="xMidYMid meet" class="chart-container" id="chart-wave-height"></svg>
                    </div>
                    <div class="col-md-4" id="ind-wave-height">
                    </div>
                </div>

                 <div id="wave-period" class="row">
                    <div class="col-md-8">
                        <svg viewBox="0 0 700 200" preserveAspectRatio="xMidYMid meet" class="chart-container" id="chart-wave-period"></svg>
                    </div>
                    <div class="col-md-4" id="ind-wave-period">
                    </div>
                </div>
        </div>
        <script  src="{{url_for('static', filename='charts.js')}}"></script>
{# 
        {% for doc in docs %}
        <ul>
             {% for key, value in doc.items() %}
                <li>{{key}} : {{value}}</li>
            {% endfor %}
        </ul>
        {% endfor %}
 #}
    </body>
</html>
