svg {
     // display: block;
     // margin: auto;
}

.indicators {
    text-anchor: middle;
    font-size: 30px;
}

.bar {
    fill: steelblue;
}

.bar:hover {
  fill: blue;
}

.bar.active {
  fill: brown;
}

rect.bar.height-max {
    fill: darkgray;
}

.axis path, .axis line {
    fill: none;
    stroke: darkgray;
    shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
  fill: darkgray;
}

.indicator-text {
  text-align: center;
  font-size: 7em;
  color: brown;
  width: 100%;
}


.invisible {
  display: none;
}

    